---
layout: default
title: Tobias' Blog
---

<div class="d-flex justify-content-center mx-auto">
    <ul class="list-group-flush">
        {% for post in paginator.posts %}
        <li class="list-group-item m-1">
            <div class="d-flex w-100 justify-content-between">
                <div class="flex-column">
                    {% if post.thread %}
                        <div class="flex-row">
                            <h3><a class="stretched-link" href="{{ post.url }}">{{ post.title }}</a></h3>
                        </div>
                    {% endif %}
                    <div class="flex-row">
                        <small><mark>from:</mark> {{ post.date | date: "%-d %B %Y" }}</small>
                    </div>
                    <div class="flex-row">
                        <small><mark>categories:</mark> {{ post.categories | join: ", " }}</small>
                    </div>
                    {% if post.thread %}
                        <div class="flex-row">
                            <small><mark>thread:</mark> {{ post.thread }}</small>, <small><mark>index:</mark> {{ post.index }}</small>
                        </div>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<br>


<div class="d-flex justify-content-center mx-auto">
    <div class="flex-column">
        <div class="flex-row">
            page
        </div>
        <div class="flex-row">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">
                <span class="back">&lt;</span>
            </a>
            {% endif %}

            <span class="page_number ">
                {{ paginator.page }} / {{ paginator.total_pages }}
            </span>

            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">
                <span class="next">&gt;</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>