<nav id="sidebar" class="navbar navbar-expand-lg col-md-3 col-lg-2 bg-light d-lg-block">
    <div class="container-fluid sticky-top pt-5">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto flex-column align-items-center">
                <li class="nav-item p-2 mb-5">
                    <img src="/assets/images/32501305.jpeg" class="img-fluid rounded-circle" alt="">
                </li>
                
                <li class="nav-item m-1">
                    <i class="fa-solid fa-reply"></i>
                    <a href="/">Home</a>
                </li>
                -
                <li class="nav-item m-1  align-items-center text-center">
                    <i class="fa-brands fa-linkedin-in"></i>
                    <a target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/tobiasjc/">Linkedin</a>
                    <br>
                    <span><small class="text-muted">https://linkedin.com/in/tobiasjc</small></span>
                </li>

                <li class="nav-item m-1 align-items-center text-center">
                    <i class="fa-brands fa-github-alt"></i>
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/tobiasjc">Github</a>
                    <br>
                    <span><small class="text-muted">https://github.com/tobiasjc</small></span>
                </li>

                <li class="nav-item m-1 align-items-center text-center">
                    <i class="fa-solid fa-envelope"></i>
                    <a target="_blank" rel="noopener noreferrer" href="mailto:jose.tobias@outlook.com">Email</a>
                    <br>
                    <span><small class="text-muted">jose.tobias@outlook.com</small></span>
                </li>

                <li class="nav-item mt-5 align-items-center text-center">
                    <i class="fa-solid fa-phone"></i>
                    <span>+55 (35) 9 9896-9558</span>
                    <br>
                    <span class="text-muted">en-us/pt-br</span>
                </li>
            </ul>
        </div>
    </div>
</nav>